In [1]:
import pandas as pd

In [2]:
UNIQUE_LABELS = ['Education', 'Travel', 'Sports', 'E-Commerce', 'Games', 'News', 'Health and Fitness', 'Computers and Technology', 'Food', 'Social Networking and Messaging']

In [3]:
df = pd.read_csv('website_classification.csv')
df

,Unnamed: 0,website_url,cleaned_website_text,Category
0,0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel
...,...,...,...,...
1403,1403,http://www.oldwomen.org/,old nude women porn mature granny sex horny ol...,Adult
1404,1404,http://www.webcamslave.com,bdsm cams bdsm chat bondage cams free bdsm vid...,Adult
1405,1405,http://www.buyeuroporn.com/,porno dvd online european porn dvd cheap adult...,Adult
1406,1406,http://www.analdreamhouse.com/30/03/agecheck/i...,anal dream house anal dream house anal dream h...,Adult
1407,1407,http://www.world-sex-news.com/,world sex news daily sex news adult news eroti...,Adult

In [4]:
df = df.drop(columns={'Unnamed: 0', 'website_url'})
df = df.rename(columns={'Category': 'category', 'cleaned_website_text': 'keywords'})
df

                                               keywords category
0     official site good hotel accommodation big sav...   Travel
1     expedia hotel book sites like use vacation wor...   Travel
2     tripadvisor hotel book sites like previously d...   Travel
3     cheap flights search compare flights momondo f...   Travel
4     bot create free account create free account si...   Travel
...                                                 ...      ...
1403  old nude women porn mature granny sex horny ol...    Adult
1404  bdsm cams bdsm chat bondage cams free bdsm vid...    Adult
1405  porno dvd online european porn dvd cheap adult...    Adult
1406  anal dream house anal dream house anal dream h...    Adult
1407  world sex news daily sex news adult news eroti...    Adult

[1408 rows x 2 columns]

In [5]:
df = df[df['category'].isin(UNIQUE_LABELS)]
df

,keywords,category
0,official site good hotel accommodation big sav...,Travel
1,expedia hotel book sites like use vacation wor...,Travel
2,tripadvisor hotel book sites like previously d...,Travel
3,cheap flights search compare flights momondo f...,Travel
4,bot create free account create free account si...,Travel
...,...,...
1279,mobile fun share perangkat lunak mobile gratis...,Computers and Technology
1280,alternativepedia discover free open source wel...,Computers and Technology
1281,japanese female facial expression jaffe datase...,Computers and Technology
1282,error error request url find server know,Computers and Technology
1283,data compression resource data compression res...,Computers and Technology

In [6]:
df['category'].value_counts()

category
Education                          114
Travel                             107
Sports                             104
E-Commerce                         102
Games                               98
News                                96
Health and Fitness                  96
Computers and Technology            93
Food                                92
Social Networking and Messaging     83
Name: count, dtype: int64

In [7]:
has_nan = df.isna().any(axis=1)
pd.DataFrame(has_nan).assign(row_has_nan=True).loc[has_nan]

Empty DataFrame
Columns: [0, row_has_nan]
Index: []

In [8]:
from server.lib.constants import STOI

df = df.copy()
df['label'] = df['category'].apply(lambda x: STOI[x])
df = df.drop(columns={'category'})

In [9]:
df.to_csv('preprocessed.csv', index=False)

In [10]:
df

                                               keywords  label
0     official site good hotel accommodation big sav...      9
1     expedia hotel book sites like use vacation wor...      9
2     tripadvisor hotel book sites like previously d...      9
3     cheap flights search compare flights momondo f...      9
4     bot create free account create free account si...      9
...                                                 ...    ...
1279  mobile fun share perangkat lunak mobile gratis...      0
1280  alternativepedia discover free open source wel...      0
1281  japanese female facial expression jaffe datase...      0
1282           error error request url find server know      0
1283  data compression resource data compression res...      0

[985 rows x 2 columns]

In [ ]:
df.dtypes